.myNav {
 background: rgb(42,172,234) !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  z-index: 11;
  display: flex;
  width: 100%;
}

.logoImg {
  height: 50px;
}

.navText {
  color: #ffffff;
  font-size: 25px;
}

@media only screen and (max-width: 480px) {
  .navText {
    color: #ffffff;
    font-size: 16px;
  }
}
